@import '../../../styles/variables';

.btn{
  width: max-content;
  display: block;
  padding: 10px 20px;
  background: $btn-bg;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  border: none;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
  &:hover{
    background: $accent;
    transition: 0.3s;
  }
}
