@import  '../../../styles/variables';

.dialogs{
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%;
}
.dialogsList{
  background: $bg-accent;
}
.chat{
  padding: 20px;
  display: flex;
  flex-direction: column-reverse;
}
