@import "../../../styles/variables";


.info{
  padding: 0 20px;
  display: flex;
}
.wallpaper{
  background: url('../../../assets/bg.jpg') no-repeat center/cover;
  height: 150px;
  margin-bottom: 20px;
}


.description{
  width: 100%;
}
.avatar{
  min-width: 100px;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
}
.posts{
  padding: 20px;
}


h4{
  margin-bottom: 20px;
}
h5{
  margin-bottom: 20px;
}
p{
  font-size: 14px;
}
