@import "../../../styles/variables";

.wallpaper{
  background: url('../../../assets/bg.jpg') no-repeat center/cover;
  height: 150px;
  margin-bottom: 20px;
}




h4{
  margin-bottom: 20px;
}
h5{
  margin-bottom: 20px;
}
p{
  font-size: 14px;
}
